@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://db.onlinewebfonts.com/c/89d11a443c316da80dcb8f5e1f63c86e?family=Bauhaus+93');

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

:root
{
 --primary: #0d171f;
 --second: #0998a8;
 --bgcolor: #192938;
 --boxShadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35);
}

h1, h2, h4, p
{
  color: #ffffff;
}

body
{
  position: relative;
  background: var(--bgcolor);
  font-family: 'Roboto', 'sans-serif';
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}