main > #resume {
    display:inline-table;
    text-align: justify;
    width: 95vw;
    height: 100vh;
}

#resume > h1{
    text-align:left;
    
}

#resume > h3{
    text-align: left;
}

#resume > #city{

    text-align: right;
}

div > #dates{

    text-align: right;
    
}

#resume > #responsibilities{
    padding-bottom: 2vh;
}

#resume > hr{
    border-top: 1px dashed black;
}