{% extends 'shared/layout.html' %}

{% block maincontent %}

<div id="box">
  <img src="../static/main/images/Timothy.png" alt="Picture of Timothy Boyd">
  <p>
    <b>Timothy Boyd</b> is a software developer with work experience in Site Reliability Engineering and a strong academic and project background in iOS and web development. He possesses a deep curiosity and an insatiable desire to unravel the intricacies of technology, always seeking to understand the "why's" and "how's." With a growth mindset and an unwavering commitment to learning, Timothy aims to become a 10x developer, constantly pushing the boundaries of his skills and knowledge. His exceptional problem-solving abilities and passion for delivering high-quality software solutions make him a valuable asset in the field of software development.
  </p>
</div>
<div id="fact">
  <hr>
  <h2>A fun fact about me: <b>{{fun_fact}}</b></h2>
</div>
{% endblock %}






