{% extends 'shared/layout.html' %}

{% block maincontent %}
    <div id="pianoHeader">
        <p>Behold piano great and old, its master slumbers in far off cold. <br> If you wish to see anew call out to it - we see you...</p>
    </div>
    <hr>
    <div class="box">
        <h1>The Great Old One</h1> 
        <div class="keys">
            <div id="C" class="key">
                <p class="controlKeys">A</p>
            </div>
            <div id="C#" class="key black">
                <p class="controlKeys">W</p>
            </div>
            <div id="D" class="key">
                <p class="controlKeys">S</p>
            </div>
            <div id="D#" class="key black">
                <p class="controlKeys">E</p>
            </div>
            <div id="E" class="key">
                <p class="controlKeys">D</p>
            </div>
            <div id="F" class="key">
                <p class="controlKeys">F</p>
            </div>
            <div id="F#" class="key black">
                <p class="controlKeys">T</p>
            </div>
            <div id="G" class="key">
                <p class="controlKeys">G</p>
            </div>
            <div id="G#" class="key black">
                <p class="controlKeys">Y</p>
            </div>
            <div id="A" class="key">
                <p class="controlKeys">H</p>
            </div>
            <div id="A#" class="key black">
                <p class="controlKeys">U</p>
            </div>
            <div id="B" class="key">
                <p class="controlKeys">J</p>
            </div>
            <div id="C2" class="key">
                <p class="controlKeys">K</p>
            </div>
            <div id="C#2" class="key black">
                <p class="controlKeys">O</p>
            </div>
            <div id="D2" class="key">
                <p class="controlKeys">L</p>
            </div>
            <div id="D#2" class="key black">
                <p class="controlKeys">P</p>
            </div>
            <div id="E2" class="key">
                <p class="controlKeys">;</p>
            </div>
        </div>
    </div>
{% endblock %}