/* Neumorphic Bordered Form */
.signIn
{
    top: 100px;
    height: auto;
    overflow-y: visible;
    opacity: 1;
    text-align: center;
    max-width: 50%;
    margin-left: 25%;
    
}

.signInForm {
    background: var(--bgColor);
    border-radius: 10px;
    padding: 20px;
    box-shadow: var(box-shadow);
    max-width: 50vw; /* Set a maximum width for the form */
    margin: 0 auto; /* Center the form horizontally */    
}

.loginError
{
    color:#ff0303;
}

/* Full-width inputs */
input[type="text"],
input[type="password"] {
    background-color: var(--bgColor);
    color: #ffffff;
    width: 100%;
    padding: 12px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 50px;
    border-color: #ffffff;
    box-shadow: var(box-shadow);

}

.formLabel
{
    color:#ffffff;
}

/* Set a style for all buttons */
.loginBtn{
    background-color: var(--second);
    color: white;
    padding: 14px 16px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 50px;
}

.signUpBtn{
    background-color: #04AA6D;
    color: white;
    padding: 14px 16px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 50px;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    max-width: 30%; /* Set a maximum width to fit the container */
    max-height: 30%; /* Set a maximum height to fit the container */
    border-radius: 50%;
}

/* Add padding to containers */
.createBtn {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}